.head
{
    float:left;
    padding-bottom:10px;
    font-family:stencil;
    color:forestgreen;
    padding-left:30px;
}
.head1
{
    text-align:center;
}
.padding
{
    padding-top: 1px;
}
.padding1
{
  float:right;
  
}



