ul {
    list-style-type: none;
    margin: 0;
    padding:10 10 10 10;
  }
  li
  {
    padding-top:10px;
    padding-bottom:10px;
  }
  nav
  {
    border:1px solid black;
    width:150px;
    float:left;
  }
  iframe
  {
    height:171px;
    width:600px;
    float:left;
    border:1px solid black
  }

